	/* .st0 {
	    fill: #7BCDCB;
	}

	.st1 {
	    fill: #FFFFFF;
	}

	.st2 {
	    fill: none;
	    stroke: #606161;
	    stroke-miterlimit: 10;
	}

	.st3 {
	    fill: #76C695;
	}

	.st4 {
	    font-family: 'Poppins-Regular';
	}

	.st5 {
	    font-size: 14.8197px;
	}

	.st6 {
	    fill: #EC5857;
	}

	.st7 {
	    fill: #F59B4F;
	}

	.st8 {
	    fill: #26B05F;
	}

	.st9 {
	    fill: #F5CC4D;
	}

	.saving {
	    display: none;
	} */