#myDvi {
    visibility: hidden;

}

.Myheading{
    font-size: 5.8rem !important;
}

.ourHotels {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.map {
    border: 1px solid red;
    height: 400px;
    width: 400px;
    position: relative;
    border-radius: 520px 0 0 0;
    overflow: hidden;
    right: 350px;
    top: 195px;
    position: absolute;
    align-items: center;
    justify-content: flex-end;

}


.map_container {
    position: relative;
}


.none {
    opacity: 0;
}


.ourHotels {
    background: #ffffff;
    color: #3d1a6f;


}

.ourHotels h3 {
    font-weight: 700;
    font-size: 3rem;
}

.ourHotels h4 {

    font-weight: 400;
    font-size: 1.875rem;
}

.ourHotels {

    overflow: hidden;

}

.hotelsDetails .card p {
    text-align: justify;
}

.hotelsDetails .card button {
    background-color: #78D2CF;
    padding: 15px 60px;
    border-radius: 20px;
}

.hotelsDetails .card {

    border-radius: 20px;
}

.ourHotels .container.pt-5 {
    padding-top: 8rem !important;
}

.ourHospitals .container.pt-5 {
    padding-top: 8rem !important;
}

@media (max-width: 701px) {
    .ourHotels {
        height: 100vh;
    }
}