.video_section {
    color: white;
    background-color: #A5A6F6;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_container h3 {
    font-weight: 700;
    font-size: 3rem;
}

.video_container p {
    font-weight: 400;
    font-size: 1.6rem;
}

.video_container {

    margin: 0 auto;

}

.video_section video {
    /* border: 20px solid #6FCFAC;
    border-radius: 15px;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.25); */
    width: 100vw;
    height: 100vh;

    object-fit: cover;
}